---
export interface Props {
  faqs: { pregunta: string; respuesta: string }[];
}
const { faqs } = Astro.props;
---
<style>
  details[open] summary {
    background-color: #446b5a;
    color: white;
  }
</style>

<div class="space-y-4">
  {faqs.map((faq) => (
    <details class="group border rounded-xl bg-white">
      <summary
        class="flex items-center justify-between gap-4 p-4 cursor-pointer text-black font-medium  rounded-xl list-none"
      >
        <span>{faq.pregunta}</span>
        <!-- Chevron -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 transition-transform duration-200 group-open:rotate-180"
          viewBox="0 0 20 20" fill="currentColor"
        >
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.17l3.71-2.94a.75.75 0 111.04 1.08l-4.24 3.36a.75.75 0 01-.94 0L5.21 8.31a.75.75 0 01.02-1.1z" clip-rule="evenodd" />
        </svg>
      </summary>
      <div class="px-4 py-6 text-lg font-700 ">
        {faq.respuesta}
      </div>
    </details>
  ))}
</div>
