---
---

<section class="relative h-[85vh] flex items-center text-white">
  <!-- Video de fondo -->
  <video 
    autoplay 
    playsinline 
    muted 
    loop 
    src="https://storage.googleapis.com/msgsndr/GdbjQ9W5ITo55MeZzU7v/media/67d787f38b28016e98c44dfc.mp4" 
    class="absolute inset-0 w-full h-full object-cover" 
    style="opacity: .8;"
  ></video>

  <!-- Overlay para oscurecer un poco el fondo -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- Contenido del hero -->
  <div class="relative z-10 max-w-[53%] px-[12%] pt-[5%] ml-[10%]">
    <h1 class="text-[3rem] font-bold mb-6">
      Marketing Integral para Empresas Energéticas
    </h1>
    <p class="text-[1.6rem] mb-8 leading-loose">
      Ayudamos a empresas de eficiencia energética a crecer con la mejor presencia digital para convertir tráfico en clientes.
    </p>
    <a 
      href="/contacto" 
      class="hidden md:inline-flex items-center justify-center rounded-xl px-8 py-[0.9rem] text-[1.1rem]
         bg-[#446b59] text-white font-semibold
         ring-1 ring-white/40 hover:bg-black/60 transition
         animate-glow"
    >
      Reserva una llamada
    </a>
  </div>
</section>

<!-- Sección informativa -->
<section class="py-5 px-4 md:px-8 flex justify-center">
  <div class="grid md:grid-cols-2 gap-8 items-center bg-white/10 backdrop-blur-sm rounded-xl py-6 w-[60%]">
    <!-- Texto -->
    <div class="text-center h-[100%]">
      <h2 class="text-xl md:text-[1.7rem] font-bold mb-4 text-left mt-10 text-[#446b5a]">
        Sabemos el valor de tu trabajo, es hora de que tus clientes también lo sepan
      </h2>
      <h3 class="text-lg font-semibold mb-8 text-left">
        Pones tu corazón y alma en tu negocio. Pero el trabajo duro solo te puede llevar hasta cierto punto y una mala presencia de marca te hará trabajar horas extras sin ver resultados.
      </h3>
      <p class="mb-10 text-left text-[1.1rem]">
        Así que es momento de diferenciarte como el líder de la industria que te has convertido con una marca impresionante que tus clientes realmente amen y un sitio web que trabaje tan duro como tú.
      </p>
      <a 
        href="https://api.leadconnectorhq.com/widget/booking/xRuzUEjIGwYKcgQHehP5"
        target="_blank"
        rel="noreferrer noopener"
        class="hidden md:inline-flex items-center justify-center rounded-xl px-8 py-[0.9rem] text-[1.1rem]
         bg-[#446b59] text-white font-semibold
         ring-1 ring-white/40 hover:bg-black/60 transition"
      >
        Reserva una llamada
      </a>
    </div>

    <!-- Imagen -->
    <div class="flex justify-center p-8">
      <img
        src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/GdbjQ9W5ITo55MeZzU7v/media/67d78a6c8b2801529bc4509f.png"
        alt="Ejemplo de proyecto"
        class="rounded-lg max-w-full"
      />
    </div>
  </div>
</section>
